:root{
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
}

.square {
    
    border:0.2px solid #ebebeb;
}

.container {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

.black {
    background-color: black;
}

