:root{
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
}

body{
    font-family: Helvetica, sans-serif;
}


.square {
    
    border:0.2px solid #ebebeb;
}

h1{
    line-height: 1.2;
}

button,
input {
    width: 100%;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

.container {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

.black {
    background-color: black;
}


button {
    padding: 10px 20px;
    border: 0.5px solid var(--primary-dark);
    border-radius: 5px;
}


//dfdfdf